* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pushster', cursive;
}
.main {
  background-color: darkgreen;
  width: 100%;
  height: 100%;
}
.title {
  background-color: brown;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.payTableMain {
  background-color: darkgreen;
  width: 100%;
  border: 1.5px solid black;
}
.payTableRows{
  border: 1.5px solid black;
  display: flex;
}
.payTableHeaderCol{
  color: whitesmoke;
  width:50%;
  text-align: center;
  border: 1.5px solid black;
  
}
.payTableOddsCol{
  color: whitesmoke ;
  text-align: center;
  width:50%;
  border: 1.5px solid black;

}
.tableMain{
  display:flex
  margin: auto;
}
.tableBackground{
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
}
.cardShadow {
  border: 2px solid white;
  border-radius: 5%;
  height: 94px;
  width: 70px;
  margin-bottom: 2px;
}
.msgControlMain{
  width:100%
}
.msgMain{
  background-color: darkolivegreen;
}
.controlMain{
  width:100%
}
.consoleMain{
}

.infoContainer{
  display: flex;
  align-items: center;
  text-align: center;
}
.bankContainer{
  width:50%;
}
.betContainer {
  width: 50%;
}
.subTitle{
  border: 1px solid black;
  font-weight: bold;
}
.buttonMain{
  display:flex;
}
.number{
  border: 1px solid black;
  color: whitesmoke;
}
.plusMinus{
  display:flex;
}
.subButton{
  background-color: red;
  border: 1px solid black;
  text-align: center;
  font-size: 35px;
  min-width: 50px;
}
.mainButton{
  background-color: darkgray;
  text-align: center;
  width: 100%;
}